/* Copyright (c) 2017, The Linux Foundation. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

&tlmm_pinmux {
		ap3426_int_pin {
			qcom,pins = <0x126 0x71>;
			qcom,pin-func = <0x0>;
			qcom,num-grp-pins = <0x1>;
			label = "ap3426-irq";

			ap3426_default {
				drive-strength = <0x6>;
				bias-pull-up;
				};

			ap3426_sleep {
				drive-strength = <0x2>;
				bias-pull-down;
				};
			};
		};

		akm_reset_pin {
			qcom,pins = <0x126 0x10>;
			qcom,pin-func = <0x0>;
			qcom,num-grp-pins = <0x1>;
			label = "akm_reset_pin";

			akm_default {
				drive-strength = <0x6>;
				bias-pull-up;
			};

			akm_sleep {
			drive-strength = <0x2>;
			bias-pull-down;
			};
		};
&cci {

		actuator0: qcom,actuator@0 {
			cell-index = <0x0>;
			reg = <0x0>;
			compatible = "qcom,actuator";
			qcom,cci-master = <0x0>;
		};

		eeprom0: qcom,eeprom@0 {
			cell-index = <0x0>;
			reg = <0x0>;
			qcom,eeprom-name = "sony_imx135";
			compatible = "qcom,eeprom";
			qcom,slave-addr = <0xa0>;
			qcom,cci-master = <0x0>;
			qcom,num-blocks = <0x3>;
			qcom,page0 = <0x1 0xa0 0x1 0x0 0x1 0x5>;
			qcom,pageen0 = <0x1 0xa1 0x1 0x1 0x1 0x5>;
			qcom,poll0 = <0x0 0x0 0x1 0x0 0x1 0x1>;
			qcom,mem0 = <0x100 0x0 0x2 0x0 0x1 0x0>;
			qcom,page1 = <0x1 0xa0 0x1 0x1 0x1 0x5>;
			qcom,pageen1 = <0x1 0xa1 0x1 0x1 0x1 0x5>;
			qcom,poll1 = <0x0 0x0 0x1 0x0 0x1 0x1>;
			qcom,mem1 = <0x100 0x100 0x2 0x0 0x1 0x0>;
			qcom,page2 = <0x1 0xa0 0x1 0x2 0x1 0x5>;
			qcom,pageen2 = <0x1 0xa1 0x1 0x1 0x1 0x5>;
			qcom,poll2 = <0x0 0x0 0x1 0x0 0x1 0x1>;
			qcom,mem2 = <0x17 0x200 0x2 0x0 0x1 0x0>;
			cam_vio-supply = <0x71>;
			qcom,cam-vreg-name = "cam_vio";
			qcom,cam-vreg-min-voltage = <0x0>;
			qcom,cam-vreg-max-voltage = <0x0>;
			qcom,cam-vreg-op-mode = <0x0>;
			pinctrl-names = "cam_default", "cam_suspend";
			pinctrl-0 = <0x82 0x83>;
			pinctrl-1 = <0x84 0x85>;
			gpios = <0x76 0x1a 0x0 0x76 0x23 0x0 0x76 0x2 0x0 0x76 0x3 0x0>;
			qcom,gpio-reset = <0x1>;
			qcom,gpio-vana = <0x2>;
			qcom,gpio-vdig = <0x3>;
			qcom,gpio-req-tbl-num = <0x0 0x1 0x2 0x3>;
			qcom,gpio-req-tbl-flags = <0x1 0x0 0x0 0x0>;
			qcom,gpio-req-tbl-label = "CAMIF_MCLK0", "CAM_RESET1", "CAM_VANA", "CAM_VDIG";
			qcom,cam-power-seq-type = "sensor_gpio", "sensor_gpio", "sensor_vreg", "sensor_clk", "sensor_gpio";
			qcom,cam-power-seq-val = "sensor_gpio_vana", "sensor_gpio_vdig", "cam_vio", "sensor_cam_mclk", "sensor_gpio_reset";
			qcom,cam-power-seq-cfg-val = <0x1 0x1 0x1 0x16e3600 0x1>;
			qcom,cam-power-seq-delay = <0x1 0x1 0x5 0x5 0xa>;
			status = "ok";
			clocks = <0x1b 0x266b3853 0x1b 0x80902deb>;
			clock-names = "cam_src_clk", "cam_clk";
		};

		eeprom1: qcom,eeprom@1 {
			cell-index = <0x1>;
			reg = <0x1>;
			qcom,eeprom-name = "sunny_p8s04e";
			compatible = "qcom,eeprom";
			qcom,slave-addr = <0x6c>;
			qcom,cci-master = <0x0>;
			qcom,num-blocks = <0x10>;
			qcom,page0 = <0x1 0x3a02 0x2 0x0 0x1 0x5>;
			qcom,pageen0 = <0x1 0x3a00 0x2 0x1 0x1 0x5>;
			qcom,poll0 = <0x0 0x3a01 0x2 0x1 0x1 0x5>;
			qcom,mem0 = <0x40 0x3a04 0x2 0x0 0x1 0x0>;
			qcom,page1 = <0x1 0x3a02 0x2 0x1 0x1 0x5>;
			qcom,pageen1 = <0x1 0x3a00 0x2 0x1 0x1 0x5>;
			qcom,poll1 = <0x0 0x3a01 0x2 0x1 0x1 0x5>;
			qcom,mem1 = <0x40 0x3a04 0x2 0x0 0x1 0x0>;
			qcom,page2 = <0x1 0x3a02 0x2 0x2 0x1 0x5>;
			qcom,pageen2 = <0x1 0x3a00 0x2 0x1 0x1 0x5>;
			qcom,poll2 = <0x0 0x3a01 0x2 0x1 0x1 0x5>;
			qcom,mem2 = <0x40 0x3a04 0x2 0x0 0x1 0x0>;
			qcom,page3 = <0x1 0x3a02 0x2 0x3 0x1 0x5>;
			qcom,pageen3 = <0x1 0x3a00 0x2 0x1 0x1 0x5>;
			qcom,poll3 = <0x0 0x3a01 0x2 0x1 0x1 0x5>;
			qcom,mem3 = <0x40 0x3a04 0x2 0x0 0x1 0x0>;
			qcom,page4 = <0x1 0x3a02 0x2 0x4 0x1 0x5>;
			qcom,pageen4 = <0x1 0x3a00 0x2 0x1 0x1 0x5>;
			qcom,poll4 = <0x0 0x3a01 0x2 0x1 0x1 0x5>;
			qcom,mem4 = <0x40 0x3a04 0x2 0x0 0x1 0x0>;
			qcom,page5 = <0x1 0x3a02 0x2 0x5 0x1 0x5>;
			qcom,pageen5 = <0x1 0x3a00 0x2 0x1 0x1 0x5>;
			qcom,poll5 = <0x0 0x3a01 0x2 0x1 0x1 0x5>;
			qcom,mem5 = <0x40 0x3a04 0x2 0x0 0x1 0x0>;
			qcom,page6 = <0x1 0x3a02 0x2 0x6 0x1 0x5>;
			qcom,pageen6 = <0x1 0x3a00 0x2 0x1 0x1 0x5>;
			qcom,poll6 = <0x0 0x3a01 0x2 0x1 0x1 0x5>;
			qcom,mem6 = <0x40 0x3a04 0x2 0x0 0x1 0x0>;
			qcom,page7 = <0x1 0x3a02 0x2 0x7 0x1 0x5>;
			qcom,pageen7 = <0x1 0x3a00 0x2 0x1 0x1 0x5>;
			qcom,poll7 = <0x0 0x3a01 0x2 0x1 0x1 0x5>;
			qcom,mem7 = <0x40 0x3a04 0x2 0x0 0x1 0x0>;
			qcom,page8 = <0x1 0x3a02 0x2 0x8 0x1 0x5>;
			qcom,pageen8 = <0x1 0x3a00 0x2 0x1 0x1 0x5>;
			qcom,poll8 = <0x0 0x3a01 0x2 0x1 0x1 0x5>;
			qcom,mem8 = <0x40 0x3a04 0x2 0x0 0x1 0x0>;
			qcom,page9 = <0x1 0x3a02 0x2 0x9 0x1 0x5>;
			qcom,pageen9 = <0x1 0x3a00 0x2 0x1 0x1 0x5>;
			qcom,poll9 = <0x0 0x3a01 0x2 0x1 0x1 0x5>;
			qcom,mem9 = <0x40 0x3a04 0x2 0x0 0x1 0x0>;
			qcom,page10 = <0x1 0x3a02 0x2 0xa 0x1 0x5>;
			qcom,pageen10 = <0x1 0x3a00 0x2 0x1 0x1 0x5>;
			qcom,poll10 = <0x0 0x3a01 0x2 0x1 0x1 0x5>;
			qcom,mem10 = <0x40 0x3a04 0x2 0x0 0x1 0x0>;
			qcom,page11 = <0x1 0x3a02 0x2 0xb 0x1 0x5>;
			qcom,pageen11 = <0x1 0x3a00 0x2 0x1 0x1 0x5>;
			qcom,poll11 = <0x0 0x3a01 0x2 0x1 0x1 0x5>;
			qcom,mem11 = <0x40 0x3a04 0x2 0x0 0x1 0x0>;
			qcom,page12 = <0x1 0x3a02 0x2 0xc 0x1 0x5>;
			qcom,pageen12 = <0x1 0x3a00 0x2 0x1 0x1 0x5>;
			qcom,poll12 = <0x0 0x3a01 0x2 0x1 0x1 0x5>;
			qcom,mem12 = <0x40 0x3a04 0x2 0x0 0x1 0x0>;
			qcom,page13 = <0x1 0x3a02 0x2 0xd 0x1 0x5>;
			qcom,pageen13 = <0x1 0x3a00 0x2 0x1 0x1 0x5>;
			qcom,poll13 = <0x0 0x3a01 0x2 0x1 0x1 0x5>;
			qcom,mem13 = <0x40 0x3a04 0x2 0x0 0x1 0x0>;
			qcom,page14 = <0x1 0x3a02 0x2 0xe 0x1 0x5>;
			qcom,pageen14 = <0x1 0x3a00 0x2 0x1 0x1 0x5>;
			qcom,poll14 = <0x0 0x3a01 0x2 0x1 0x1 0x5>;
			qcom,mem14 = <0x40 0x3a04 0x2 0x0 0x1 0x0>;
			qcom,page15 = <0x1 0x3a02 0x2 0xf 0x1 0x5>;
			qcom,pageen15 = <0x1 0x3a00 0x2 0x1 0x1 0x5>;
			qcom,poll15 = <0x0 0x3a01 0x2 0x1 0x1 0x5>;
			qcom,mem15 = <0x40 0x3a04 0x2 0x0 0x1 0x0>;
			cam_vdig-supply = <0x6f>;
			cam_vana-supply = <0x70>;
			cam_vio-supply = <0x71>;
			qcom,cam-vreg-name = "cam_vdig", "cam_vio", "cam_vana";
			qcom,cam-vreg-min-voltage = <0x124f80 0x0 0x2b7cd0>;
			qcom,cam-vreg-max-voltage = <0x124f80 0x0 0x2b7cd0>;
			qcom,cam-vreg-op-mode = <0x30d40 0x0 0x13880>;
			pinctrl-names = "cam_default", "cam_suspend";
			pinctrl-0 = <0x86 0x87>;
			pinctrl-1 = <0x88 0x89>;
			gpios = <0x76 0x1b 0x0 0x76 0x1c 0x0>;
			qcom,gpio-reset = <0x1>;
			qcom,gpio-req-tbl-num = <0x0 0x1>;
			qcom,gpio-req-tbl-flags = <0x1 0x0>;
			qcom,gpio-req-tbl-label = "CAMIF_MCLK1", "CAM_RESET";
			qcom,cam-power-seq-type = "sensor_vreg", "sensor_vreg", "sensor_vreg", "sensor_clk", "sensor_gpio";
			qcom,cam-power-seq-val = "cam_vdig", "cam_vana", "cam_vio", "sensor_cam_mclk", "sensor_gpio_reset";
			qcom,cam-power-seq-cfg-val = <0x1 0x1 0x1 0x16e3600 0x1>;
			qcom,cam-power-seq-delay = <0xa 0xa 0xa 0x5 0xa>;
			clocks = <0x1b 0xa73cad0c 0x1b 0x5002d85f>;
			clock-names = "cam_src_clk", "cam_clk";
		};

		eeprom2: qcom,eeprom@5a {
			cell-index = <0x2>;
			reg = <0x5a>;
			qcom,eeprom-name = "sunny_f13s01k";
			compatible = "qcom,eeprom";
			qcom,slave-addr = <0x5a>;
			qcom,cci-master = <0x0>;
			qcom,num-blocks = <0x21>;
			qcom,page0 = <0x1 0x100 0x2 0x100 0x2 0xa>;
			qcom,poll0 = <0x0 0xa01 0x2 0x100 0x1 0x5>;
			qcom,mem0 = <0x0 0xa04 0x2 0x0 0x2 0x0>;
			qcom,page1 = <0x1 0xa02 0x2 0x0 0x2 0x5>;
			qcom,pageen1 = <0x1 0xa00 0x2 0x100 0x2 0x5>;
			qcom,poll1 = <0x0 0xa01 0x2 0x100 0x1 0x5>;
			qcom,mem1 = <0x40 0xa04 0x2 0x0 0x2 0x0>;
			qcom,page2 = <0x1 0xa02 0x2 0x100 0x2 0x5>;
			qcom,pageen2 = <0x1 0xa00 0x2 0x100 0x2 0x5>;
			qcom,poll2 = <0x0 0xa01 0x2 0x1 0x1 0x5>;
			qcom,mem2 = <0x40 0xa04 0x2 0x0 0x2 0x0>;
			qcom,page3 = <0x1 0xa02 0x2 0x200 0x2 0x5>;
			qcom,pageen3 = <0x1 0xa00 0x2 0x100 0x2 0x5>;
			qcom,poll3 = <0x0 0xa01 0x2 0x100 0x1 0x5>;
			qcom,mem3 = <0x40 0xa04 0x2 0x0 0x2 0x0>;
			qcom,page4 = <0x1 0xa02 0x2 0x300 0x2 0x5>;
			qcom,pageen4 = <0x1 0xa00 0x2 0x100 0x2 0x5>;
			qcom,poll4 = <0x0 0xa01 0x2 0x1 0x1 0x5>;
			qcom,mem4 = <0x40 0xa04 0x2 0x0 0x2 0x0>;
			qcom,page5 = <0x1 0xa02 0x2 0x400 0x2 0x5>;
			qcom,pageen5 = <0x1 0xa00 0x2 0x100 0x2 0x5>;
			qcom,poll5 = <0x0 0xa01 0x2 0x100 0x1 0x5>;
			qcom,mem5 = <0x40 0xa04 0x2 0x0 0x2 0x0>;
			qcom,page6 = <0x1 0xa02 0x2 0x500 0x2 0x5>;
			qcom,pageen6 = <0x1 0xa00 0x2 0x100 0x2 0x5>;
			qcom,poll6 = <0x0 0xa01 0x2 0x1 0x1 0x5>;
			qcom,mem6 = <0x40 0xa04 0x2 0x0 0x2 0x0>;
			qcom,page7 = <0x1 0xa02 0x2 0x600 0x2 0x5>;
			qcom,pageen7 = <0x1 0xa00 0x2 0x100 0x2 0x5>;
			qcom,poll7 = <0x0 0xa01 0x2 0x1 0x1 0x5>;
			qcom,mem7 = <0x40 0xa04 0x2 0x0 0x2 0x0>;
			qcom,page8 = <0x1 0xa02 0x2 0x700 0x2 0x5>;
			qcom,pageen8 = <0x1 0xa00 0x2 0x100 0x2 0x5>;
			qcom,poll8 = <0x0 0xa01 0x2 0x1 0x1 0x5>;
			qcom,mem8 = <0x40 0xa04 0x2 0x0 0x2 0x0>;
			qcom,page9 = <0x1 0xa02 0x2 0x800 0x2 0x5>;
			qcom,pageen9 = <0x1 0xa00 0x2 0x100 0x2 0x5>;
			qcom,poll9 = <0x0 0xa01 0x2 0x1 0x1 0x5>;
			qcom,mem9 = <0x40 0xa04 0x2 0x0 0x2 0x0>;
			qcom,page10 = <0x1 0xa02 0x2 0x900 0x2 0x5>;
			qcom,pageen10 = <0x1 0xa00 0x2 0x100 0x2 0x5>;
			qcom,poll10 = <0x0 0xa01 0x2 0x1 0x1 0x5>;
			qcom,mem10 = <0x40 0xa04 0x2 0x0 0x2 0x0>;
			qcom,page11 = <0x1 0xa02 0x2 0xa00 0x2 0x5>;
			qcom,pageen11 = <0x1 0xa00 0x2 0x100 0x2 0x5>;
			qcom,poll11 = <0x0 0xa01 0x2 0x1 0x1 0x5>;
			qcom,mem11 = <0x40 0xa04 0x2 0x0 0x2 0x0>;
			qcom,page12 = <0x1 0xa02 0x2 0xb00 0x2 0x5>;
			qcom,pageen12 = <0x1 0xa00 0x2 0x100 0x2 0x5>;
			qcom,poll12 = <0x0 0xa01 0x2 0x1 0x1 0x5>;
			qcom,mem12 = <0x40 0xa04 0x2 0x0 0x2 0x0>;
			qcom,page13 = <0x1 0xa02 0x2 0xc00 0x2 0x5>;
			qcom,pageen13 = <0x1 0xa00 0x2 0x100 0x2 0x5>;
			qcom,poll13 = <0x0 0xa01 0x2 0x1 0x1 0x5>;
			qcom,mem13 = <0x40 0xa04 0x2 0x0 0x2 0x0>;
			qcom,page14 = <0x1 0xa02 0x2 0xd00 0x2 0x5>;
			qcom,pageen14 = <0x1 0xa00 0x2 0x100 0x2 0x5>;
			qcom,poll14 = <0x0 0xa01 0x2 0x1 0x1 0x5>;
			qcom,mem14 = <0x40 0xa04 0x2 0x0 0x2 0x0>;
			qcom,page15 = <0x1 0xa02 0x2 0xe00 0x2 0x5>;
			qcom,pageen15 = <0x1 0xa00 0x2 0x100 0x2 0x5>;
			qcom,poll15 = <0x0 0xa01 0x2 0x1 0x1 0x5>;
			qcom,mem15 = <0x40 0xa04 0x2 0x0 0x2 0x0>;
			qcom,page16 = <0x1 0xa02 0x2 0xf00 0x2 0x5>;
			qcom,pageen16 = <0x1 0xa00 0x2 0x100 0x2 0x5>;
			qcom,poll16 = <0x0 0xa01 0x2 0x1 0x1 0x5>;
			qcom,mem16 = <0x40 0xa04 0x2 0x0 0x2 0x0>;
			qcom,page17 = <0x1 0xa02 0x2 0x1000 0x2 0x5>;
			qcom,pageen17 = <0x1 0xa00 0x2 0x100 0x2 0x5>;
			qcom,poll17 = <0x0 0xa01 0x2 0x1 0x1 0x5>;
			qcom,mem17 = <0x40 0xa04 0x2 0x0 0x2 0x0>;
			qcom,page18 = <0x1 0xa02 0x2 0x1100 0x2 0x5>;
			qcom,pageen18 = <0x1 0xa00 0x2 0x100 0x2 0x5>;
			qcom,poll18 = <0x0 0xa01 0x2 0x1 0x1 0x5>;
			qcom,mem18 = <0x40 0xa04 0x2 0x0 0x2 0x0>;
			qcom,page19 = <0x1 0xa02 0x2 0x1200 0x2 0x5>;
			qcom,pageen19 = <0x1 0xa00 0x2 0x100 0x2 0x5>;
			qcom,poll19 = <0x0 0xa01 0x2 0x1 0x1 0x5>;
			qcom,mem19 = <0x40 0xa04 0x2 0x0 0x2 0x0>;
			qcom,page20 = <0x1 0xa02 0x2 0x1300 0x2 0x5>;
			qcom,pageen20 = <0x1 0xa00 0x2 0x100 0x2 0x5>;
			qcom,poll20 = <0x0 0xa01 0x2 0x1 0x1 0x5>;
			qcom,mem20 = <0x40 0xa04 0x2 0x0 0x2 0x0>;
			qcom,page21 = <0x1 0xa02 0x2 0x1400 0x2 0x5>;
			qcom,pageen21 = <0x1 0xa00 0x2 0x100 0x2 0x5>;
			qcom,poll21 = <0x0 0xa01 0x2 0x1 0x1 0x5>;
			qcom,mem21 = <0x40 0xa04 0x2 0x0 0x2 0x0>;
			qcom,page22 = <0x1 0xa02 0x2 0x1500 0x2 0x5>;
			qcom,pageen22 = <0x1 0xa00 0x2 0x100 0x2 0x5>;
			qcom,poll22 = <0x0 0xa01 0x2 0x1 0x1 0x5>;
			qcom,mem22 = <0x40 0xa04 0x2 0x0 0x2 0x0>;
			qcom,page23 = <0x1 0xa02 0x2 0x1600 0x2 0x5>;
			qcom,pageen23 = <0x1 0xa00 0x2 0x100 0x2 0x5>;
			qcom,poll23 = <0x0 0xa01 0x2 0x1 0x1 0x5>;
			qcom,mem23 = <0x40 0xa04 0x2 0x0 0x2 0x0>;
			qcom,page24 = <0x1 0xa02 0x2 0x1700 0x2 0x5>;
			qcom,pageen24 = <0x1 0xa00 0x2 0x100 0x2 0x5>;
			qcom,poll24 = <0x0 0xa01 0x2 0x1 0x1 0x5>;
			qcom,mem24 = <0x40 0xa04 0x2 0x0 0x2 0x0>;
			qcom,page25 = <0x1 0xa02 0x2 0x1800 0x2 0x5>;
			qcom,pageen25 = <0x1 0xa00 0x2 0x100 0x2 0x5>;
			qcom,poll25 = <0x0 0xa01 0x2 0x1 0x1 0x5>;
			qcom,mem25 = <0x40 0xa04 0x2 0x0 0x2 0x0>;
			qcom,page26 = <0x1 0xa02 0x2 0x1900 0x2 0x5>;
			qcom,pageen26 = <0x1 0xa00 0x2 0x100 0x2 0x5>;
			qcom,poll26 = <0x0 0xa01 0x2 0x1 0x1 0x5>;
			qcom,mem26 = <0x40 0xa04 0x2 0x0 0x2 0x0>;
			qcom,page27 = <0x1 0xa02 0x2 0x1a00 0x2 0x5>;
			qcom,pageen27 = <0x1 0xa00 0x2 0x100 0x2 0x5>;
			qcom,poll27 = <0x0 0xa01 0x2 0x1 0x1 0x5>;
			qcom,mem27 = <0x40 0xa04 0x2 0x0 0x2 0x0>;
			qcom,page28 = <0x1 0xa02 0x2 0x1b00 0x2 0x5>;
			qcom,pageen28 = <0x1 0xa00 0x2 0x100 0x2 0x5>;
			qcom,poll28 = <0x0 0xa01 0x2 0x1 0x1 0x5>;
			qcom,mem28 = <0x40 0xa04 0x2 0x0 0x2 0x0>;
			qcom,page29 = <0x1 0xa02 0x2 0x1c00 0x2 0x5>;
			qcom,pageen29 = <0x1 0xa00 0x2 0x100 0x2 0x5>;
			qcom,poll29 = <0x0 0xa01 0x2 0x1 0x1 0x5>;
			qcom,mem29 = <0x40 0xa04 0x2 0x0 0x2 0x0>;
			qcom,page30 = <0x1 0xa02 0x2 0x1d00 0x2 0x5>;
			qcom,pageen30 = <0x1 0xa00 0x2 0x100 0x2 0x5>;
			qcom,poll30 = <0x0 0xa01 0x2 0x1 0x1 0x5>;
			qcom,mem30 = <0x40 0xa04 0x2 0x0 0x2 0x0>;
			qcom,page31 = <0x1 0xa02 0x2 0x1e00 0x2 0x5>;
			qcom,pageen31 = <0x1 0xa00 0x2 0x100 0x2 0x5>;
			qcom,poll31 = <0x0 0xa01 0x2 0x1 0x1 0x5>;
			qcom,mem31 = <0x40 0xa04 0x2 0x0 0x2 0x0>;
			qcom,page32 = <0x1 0xa02 0x2 0x1f00 0x2 0x5>;
			qcom,pageen32 = <0x1 0xa00 0x2 0x100 0x2 0x5>;
			qcom,poll32 = <0x0 0xa01 0x2 0x1 0x1 0x5>;
			qcom,mem32 = <0x40 0xa04 0x2 0x0 0x2 0x0>;
			cam_vio-supply = <0x71>;
			qcom,cam-vreg-name = "cam_vio";
			qcom,cam-vreg-min-voltage = <0x0>;
			qcom,cam-vreg-max-voltage = <0x0>;
			qcom,cam-vreg-op-mode = <0x0>;
			pinctrl-names = "cam_default", "cam_suspend";
			pinctrl-0 = <0x82 0x83>;
			pinctrl-1 = <0x84 0x85>;
			gpios = <0x76 0x1a 0x0 0x76 0x23 0x0 0x76 0x2 0x0 0x76 0x3 0x0>;
			qcom,gpio-reset = <0x1>;
			qcom,gpio-vana = <0x2>;
			qcom,gpio-vdig = <0x3>;
			qcom,gpio-req-tbl-num = <0x0 0x1 0x2 0x3>;
			qcom,gpio-req-tbl-flags = <0x1 0x0 0x0 0x0>;
			qcom,gpio-req-tbl-label = "CAMIF_MCLK0", "CAM_RESET1", "CAM_VANA", "CAM_VDIG";
			qcom,cam-power-seq-type = "sensor_gpio", "sensor_gpio", "sensor_vreg", "sensor_clk", "sensor_gpio";
			qcom,cam-power-seq-val = "sensor_gpio_vana", "sensor_gpio_vdig", "cam_vio", "sensor_cam_mclk", "sensor_gpio_reset";
			qcom,cam-power-seq-cfg-val = <0x1 0x1 0x1 0x16e3600 0x1>;
			qcom,cam-power-seq-delay = <0x1 0x1 0x5 0x5 0xa>;
			status = "ok";
			clocks = <0x1b 0x266b3853 0x1b 0x80902deb>;
			clock-names = "cam_src_clk", "cam_clk";
		};

		eeprom3: qcom,camera@5a {
			compatible = "qcom,s5k3m2";
			reg = <0x5a 0x0>;
			qcom,slave-id = <0x5a 0x0 0x30d2>;
			qcom,csiphy-sd-index = <0x0>;
			qcom,csid-sd-index = <0x0>;
			qcom,mount-angle = <0x5a>;
			qcom,sensor-name = "s5k3m2_f13s01k";
			qcom,actuator-src = <0x8a>;
			qcom,eeprom-src = <0x8b>;
			qcom,led-flash-src = <0x8c>;
			cam_vio-supply = <0x71>;
			cam_vaf-supply = <0x8d>;
			qcom,cam-vreg-name = "cam_vio", "cam_vaf";
			qcom,cam-vreg-type = <0x1 0x0>;
			qcom,cam-vreg-min-voltage = <0x0 0x2ab980>;
			qcom,cam-vreg-max-voltage = <0x0 0x2ab980>;
			qcom,cam-vreg-op-mode = <0x0 0x2ab980>;
			pinctrl-names = "cam_default", "cam_suspend";
			pinctrl-0 = <0x82 0x83>;
			pinctrl-1 = <0x84 0x85>;
			gpios = <0x76 0x1a 0x0 0x76 0x23 0x0 0x76 0x78 0x0 0x76 0x2 0x0 0x76 0x3 0x0>;
			qcom,gpio-reset = <0x1>;
			qcom,gpio-af-pwdm = <0x2>;
			qcom,gpio-vana = <0x3>;
			qcom,gpio-vdig = <0x4>;
			qcom,gpio-req-tbl-num = <0x0 0x1 0x2 0x3 0x4>;
			qcom,gpio-req-tbl-flags = <0x1 0x0 0x0 0x0 0x0>;
			qcom,csi-lane-assign = <0x4320>;
			qcom,csi-lane-mask = <0x1f>;
			qcom,gpio-req-tbl-label = "CAMIF_MCLK0", "CAM_RESET1", "MCAM_AF_PWDM", "CAM_VANA", "CAM_VDIG";
			qcom,sensor-position = <0x0>;
			qcom,sensor-mode = <0x0>;
			qcom,cci-master = <0x0>;
			qcom,mclk-24000000;
			status = "ok";
			clocks = <0x1b 0x266b3853 0x1b 0x80902deb>;
			clock-names = "cam_src_clk", "cam_clk";
			};

		qcom,camera@0 {
			cell-index = <0x0>;
			compatible = "qcom,camera";
			reg = <0x0>;
			qcom,csiphy-sd-index = <0x0>;
			qcom,csid-sd-index = <0x0>;
			qcom,mount-angle = <0x10e>;
			qcom,actuator-src = <0x8a>;
			qcom,eeprom-src = <0x8e>;
			qcom,led-flash-src = <0x8c>;
			cam_vio-supply = <0x71>;
			cam_vaf-supply = <0x8d>;
			qcom,cam-vreg-name = "cam_vio", "cam_vaf";
			qcom,cam-vreg-type = <0x1 0x0>;
			qcom,cam-vreg-min-voltage = <0x0 0x2ab980>;
			qcom,cam-vreg-max-voltage = <0x0 0x2ab980>;
			qcom,cam-vreg-op-mode = <0x0 0x2ab980>;
			pinctrl-names = "cam_default", "cam_suspend";
			pinctrl-0 = <0x82 0x83>;
			pinctrl-1 = <0x84 0x85>;
			gpios = <0x76 0x1a 0x0 0x76 0x23 0x0 0x76 0x78 0x0 0x76 0x2 0x0 0x76 0x3 0x0>;
			qcom,gpio-reset = <0x1>;
			qcom,gpio-af-pwdm = <0x2>;
			qcom,gpio-vana = <0x3>;
			qcom,gpio-vdig = <0x4>;
			qcom,gpio-req-tbl-num = <0x0 0x1 0x2 0x3 0x4>;
			qcom,gpio-req-tbl-flags = <0x1 0x0 0x0 0x0 0x0>;
			qcom,gpio-req-tbl-label = "CAMIF_MCLK0", "CAM_RESET1", "MCAM_AF_PWDM", "CAM_VANA", "CAM_VDIG";
			qcom,sensor-position = <0x0>;
			qcom,sensor-mode = <0x0>;
			qcom,cci-master = <0x0>;
			qcom,mclk-24000000;
			status = "ok";
			clocks = <0x1b 0x266b3853 0x1b 0x80902deb>;
			clock-names = "cam_src_clk", "cam_clk";
		};

		qcom,camera@1 {
			cell-index = <0x1>;
			compatible = "qcom,camera";
			reg = <0x1>;
			qcom,csiphy-sd-index = <0x1>;
			qcom,csid-sd-index = <0x1>;
			qcom,mount-angle = <0x5a>;
			qcom,eeprom-src = <0x8f>;
			cam_vdig-supply = <0x6f>;
			cam_vana-supply = <0x70>;
			cam_vio-supply = <0x71>;
			qcom,cam-vreg-name = "cam_vdig", "cam_vio", "cam_vana";
			qcom,cam-vreg-min-voltage = <0x124f80 0x0 0x2b7cd0>;
			qcom,cam-vreg-max-voltage = <0x124f80 0x0 0x2b7cd0>;
			qcom,cam-vreg-op-mode = <0x30d40 0x0 0x13880>;
			pinctrl-names = "cam_default", "cam_suspend";
			pinctrl-0 = <0x86 0x87>;
			pinctrl-1 = <0x88 0x89>;
			gpios = <0x76 0x1b 0x0 0x76 0x1c 0x0>;
			qcom,gpio-reset = <0x1>;
			qcom,gpio-req-tbl-num = <0x0 0x1>;
			qcom,gpio-req-tbl-flags = <0x1 0x0>;
			qcom,gpio-req-tbl-label = "CAMIF_MCLK1", "SCAM_RESET";
			qcom,sensor-position = <0x1>;
			qcom,sensor-mode = <0x0>;
			qcom,cci-master = <0x0>;
			status = "ok";
			clocks = <0x1b 0xa73cad0c 0x1b 0x5002d85f>;
			clock-names = "cam_src_clk", "cam_clk";
		};

		qcom,camera@2 {
			cell-index = <0x2>;
			compatible = "qcom,camera";
			reg = <0x2>;
			qcom,csiphy-sd-index = <0x1>;
			qcom,csid-sd-index = <0x1>;
			qcom,mount-angle = <0x5a>;
			cam_vdig-supply = <0x6f>;
			cam_vana-supply = <0x70>;
			cam_vio-supply = <0x71>;
			qcom,cam-vreg-name = "cam_vdig", "cam_vio", "cam_vana";
			qcom,cam-vreg-min-voltage = <0x124f80 0x0 0x2b7cd0>;
			qcom,cam-vreg-max-voltage = <0x124f80 0x0 0x2b7cd0>;
			qcom,cam-vreg-op-mode = <0x30d40 0x0 0x13880>;
			pinctrl-names = "cam_default", "cam_suspend";
			pinctrl-0 = <0x86 0x87>;
			pinctrl-1 = <0x88 0x89>;
			gpios = <0x76 0x1b 0x0 0x76 0x1c 0x0>;
			qcom,gpio-reset = <0x1>;
			qcom,gpio-req-tbl-num = <0x0 0x1>;
			qcom,gpio-req-tbl-flags = <0x1 0x0>;
			qcom,gpio-req-tbl-label = "CAMIF_MCLK1", "SCAM_RESET";
			qcom,sensor-position = <0x1>;
			qcom,sensor-mode = <0x0>;
			qcom,cci-master = <0x0>;
			status = "ok";
			clocks = <0x1b 0xa73cad0c 0x1b 0x5002d85f>;
			clock-names = "cam_src_clk", "cam_clk";
		};
	};
