/* Copyright (c) 2017, The Linux Foundation. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

/dts-v1/;

#include "msm8939.dtsi"
#include "msm8939-qrd-skuk.dtsi"
#include "dsi-panel-nt35596-auo-1080p-skuk-video.dtsi"
#include "dsi-panel-nt35596-1080p-skuk-pwm-video.dtsi"
#include "dsi-panel-nt35596-auo-1080p-skuk-pwm-video.dtsi"
#include "dsi-panel-sharp-r61322-1080p-video.dtsi"
#include "dsi-panel-sharp-r61322-pwm-1080p-video.dtsi"
#include "msm8939-camera-sensor-q39.dtsi"

/ {
	model = "Qualcomm Technologies, Inc. MSM8939 QRD Q39";
	compatible = "qcom,msm8939-qrd-skuk", "qcom,msm8939-qrd", "qcom,msm8939", "qcom,qrd";
	qcom,board-id = <0x10011 5 0x20011 5>;
};

&soc {

	i2c@78b6000 { /* BLSP1 QUP2 */
		akm@d {
			compatible = "ak,ak09911";
			reg = <0xd>;
			pinctrl-names = "default", "sleep";
			pinctrl-0 = <&akm_default>;
			pinctrl-1 = <&akm_sleep>;
			vdd-supply = <&pm8916_l17>;
			vio-supply = <&pm8916_l6>;
			akm,layout = <0x3>;
			akm,gpio_rstn = <&msm_gpio 16 0x0>;
			akm,auto-report;
		};

		bosch@18 { /* Accelerometer sensor */
			compatible = "bosch,bma2x2";
			reg = <0x18>;
			pinctrl-names = "bma_default","bma_sleep";
			pinctrl-0 = <&bma2x2_int1_default &bma2x2_int2_default>;
			pinctrl-1 = <&bma2x2_int1_sleep &bma2x2_int2_sleep>;
			interrupt-parent = <&msm_gpio>;
			interrupts = <112 0x2002>;
			vdd-supply = <&pm8916_l17>;
			vio-supply = <&pm8916_l6>;
			bosch,init-interval = <200>;
			bosch,place = <2>;
			bosch,gpio-int1 = <&msm_gpio 112 0x2002>;
			bosch,gpio-int2 = <&msm_gpio 114 0x2002>;
		};

		capella@60 {
			compatible = "capella,cm36283";
			reg = <0x60>;
			interrupt-parent = <&msm_gpio>;
			interrupts = <113 0x2>;
			vdd-supply = <&pm8916_l17>;
			vio-supply = <&pm8916_l6>;
			capella,use-polling;
			capella,interrupt-gpio = <&msm_gpio 113 0x2>;
			capella,levels = <0x0A 0xA0 0xE1 0x140 0x280 0x500 0xA28 0x16A8 0x1F40 					0x2800>;
			capella,ps_close_thd_set = <0x6>;
			capella,ps_away_thd_set = <0x2>;
			capella,ls_cmd = <0x4>;
			capella,ps_conf1_val = <0x0006>;  /*CM36283_PS_ITB_1_2 | CM36283_PS_DR_1_40| CM36283_PS_IT_1T | CM36283_PS_PERS_2 | CM36283_PS_RES_1*/
			capella,ps_conf3_val = <0x3010>;  /* CM36283_PS_MS_NORMAL | CM36283_PS_PROL_255 | CM36283_PS_SMART_PERS_ENABLE, */
		};

		di@1e {
			compatible = "di,ap3426";
			reg = <0x1e>;
			vdd-supply = <&pm8916_l17>;
			vio-supply = <&pm8916_l6>;
			interrupt-parent = <&msm_gpio>;
			interrupts = <113 0x2002>;
			pinctrl-names = "default", "sleep";
			pinctrl-0 = <&ap3426_default>;
			pinctrl-1 = <&ap3426_sleep>;
			di,irq-gpio = <&msm_gpio 113 0x2002>;
			di,als-cal = <74>;
			di,als-gain = <0>;
			di,als-persist = <2>;
			di,ps-gain = <2>;
			di,ps-persist = <2>;
			di,ps-led-driver = <0>;
			di,ps-mean-time = <2>;
			di,ps-integrated-time = <8>;
			di,ps-distance-table = <887 282 111 78 53 46>;
			di,als-sensitivity = <50>;
			di,wakeup-threshold = <0>;
		};
			/delete-node/avago@39;
	};

	i2c@78b8000 { /* BLSP1 QUP4 */
		smb1360_otg_supply: smb1360-chg-fg@14 {
			compatible = "qcom,smb1360-chg-fg";
			reg = <0x14>;
			interrupt-parent = <&msm_gpio>;
			interrupts = <62 2>;
			pinctrl-names = "default";
			pinctrl-0 = <&smb_int_default>;
			qcom,stat-pulsed-irq;
			qcom,chg-inhibit-disabled;
			qcom,float-voltage-mv = <4350>;
			qcom,iterm-ma = <200>;
			qcom,charging-timeout = <384>;
			qcom,otg-batt-curr-limit = <950>;
			qcom,recharge-thresh-mv = <100>;
			qcom,thermal-mitigation = <1500 700 600 0>;
			qcom,fg-auto-recharge-soc = <99>;
			qcom,empty-soc-disabled;
			regulator-name = "smb1360_otg_vreg";
			qcom,awake-min-soc;
			qcom,batt-profile-select;
			qcom,smb1360-vadc = <&pm8916_vadc>;
			qcom,batt-id-vref-uv = <1800000>;
			qcom,batt-id-rpullup-kohm = <100>;
			qcom,profile-a-rid-kohm = <33>;
			qcom,profile-b-rid-kohm = <91>;
			qcom,config-hard-thresholds;
			qcom,hot-bat-decidegc = <550>;
			qcom,cold-bat-decidegc = <(-150)>;
			qcom,soft-jeita-supported;
			qcom,warm-bat-decidegc = <450>;
			qcom,cool-bat-decidegc = <100>;
			qcom,warm-bat-mv = <4100>;
			qcom,cool-bat-mv = <4100>;
			qcom,warm-bat-ma = <750>;
			qcom,cool-bat-ma = <750>;
			qcom,fg-delta-soc = <1>;
		};
	};

	i2c@78b9000 { /* BLSP1 QUP5 */
		goodix@5d {
			compatible = "goodix,gt9xx";
			reg = <0x5d>;
			interrupt-parent = <&msm_gpio>;
			interrupts = <13 0x2008>;
			vdd-supply = <&pm8916_l17>;
			vcc-i2c-supply = <&pm8916_l6>;
			goodix,reset-gpios = <&msm_gpio 12 0x0>;
			goodix,interrupt-gpios = <&msm_gpio 13 0x0>;
			goodix,button-map = <139 172 158>;
			goodix,panel-coords = <0 0 1080 1920>;
			goodix,display-coords = <0 0 1080 1920>;
			goodix,product-id = "9157";
			goodix,num_max_touches = <5>;
			goodix,soft_rst_dly = <20>;
			goodix,fw_name = "gtp_fw.bin";
			goodix,fw-vkey-support;
			goodix,i2c-pull-up;
			goodix,no-force-update;
		};
	};

		gen-vkeys {
			label = "gt9xx";
		};

		gpio-leds {
			compatible = "gpio-leds";

			keypad-backlight {
				gpios = <&msm_gpio 0 0x0>;
				label = "button-backlight";
				linux,default-trigger = "none";
				default-state = "off";
			};
		};

		gpio-leds-simcom {
			compatible = "gpio-leds-simcom";

			singal-light {
			gpios = <&msm_gpio 115 0x0>;
			gpios-enable = <&msm_gpio 69 0x0>;
			label = "singal-light";
			linux,default-trigger = "none";
			default-state = "off";
			retain-state-suspended;
			};
		};

		qcom,lpm-workarounds {		
			compatible = "qcom,lpm-workarounds";		
		
			lpm-cx-supply = <&pm8916_s2_corner>;		
			qcom,lpm-wa-cx-turbo-unvote;		
		};
};

		&pm8916_leds {
			/delete-property/ status;
			/delete-node/ qcom,led_mpp_2;
		};

		&pm8916_chg {
			status = "ok";
			qcom,use-external-charger;
		};

		&pm8916_bms {
			status = "ok";
			qcom,disable-bms;
		};

		&mdss_mdp {
       			qcom,mdss-pref-prim-intf = "dsi";
		};

		&mdss_dsi0 {
       			qcom,dsi-pref-prim-pan = <&dsi_sim_vid>;
			/delete-property/ qcom,platform-bklight-en-gpio;
		};

		&mpu6050_default {
			bias-pull-up;
		};
